.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background_pai {
width: 100%;
height: 100%;
 background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: absolute;
}
.background_filhoinfos  {
 
  background-color: rgba(30, 84, 233, 0.445) ;
 text-align: center;
 justify-content: center;
 display: flex;
 margin: 0 auto;
 margin-top: 5%;
 width: 80%;
 height: 65%;
 padding: 20px;
 position: relative;
 
}

