.formRegistro{
    display:flex;
    flex-direction: column;
}

.inputRegistro{
   width: 500px;
}
.buttonRegistro{
    width: 200px;
}
.labelRegistro {
    position: relative;
    top: 50%;
    left: -25%;
    line-height: 2;
}

.inputRegistro {
  position: relative;
    top: 50%;
    left: 0%;
    line-height: 2;  
}
